/*date*/

.date-base {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.date-face {
    height: 180px;
    width: 180px;
    background: linear-gradient(#ddd, #eee, #ddd);
    display: inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    border-radius: 50%;
    border: 1px double #d5a569;
    position: relative;
    transition: all 1s ease-in-out;
}

.date-face p {
    margin: 0 auto;
}


/*head*/

.date-effect-head {
    position: absolute;
    top: 20px;
    font-size: 15px;
    text-align: center;
    color: #000;
}

.date-weekday {
    font-size: 15px;
    font-family: 'Cinzel', serif;
}


/*first*/

.date-effect-first {
    position: absolute;
    top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.date-mon {
    font-size: 14px;
    font-family: 'Cinzel', serif;
}

.date-yr {
    font-size: 14px;
    font-family: 'Cinzel', serif;
}

.date-specific {
    font-size: 15px;
    margin: 0 3px !important;
    background: #fff;
    border-radius: 50%;
    padding: 1px 3px 5px 6px;
    border: 1px inset #eee;
}


/*second*/

.date-effect-second {
    position: absolute;
    top: 73px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #000;
}

.date-time {
    font-family: 'Black Ops One', cursive;
    width: 130px;
    font-size: 26px;
    padding: 2px 0px 0 4px;
    border: 1px inset #eee;
    background: #fff;
    border-radius: 9px 15px 4px 15px;
}

.date-ampm {
    margin: 0 0 0 2px !important;
    background: #fff;
    border-radius: 50%;
    padding: 3px 6px 3px 4px;
    border: 1px inset #eee;
}


/*third*/

.date-effect-third {
    position: absolute;
    bottom: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.temp-now {
    border: 1px inset #eee;
    padding: 5px 5px 3px 3px;
    background: white;
    border-radius: 50%;
    margin: 0 6px 0 0;
}

.temp-btn {
    border-radius: 50%;
}

.temp-btn:hover {
    cursor: pointer;
}


/*forth*/

.date-effect-forth {
    position: absolute;
    bottom: 8px;
    font-size: 15px;
    text-align: center;
    color: #000;
}

.forecast-city {
    font-size: 14px;
    font-family: 'Cinzel', serif;
}

.forecast-region {
    font-size: 10px;
    font-family: 'Cinzel', serif;
}
