.watch {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    transition: all 0.8s;
    position: fixed;
    top: 10px;
    right: 10px;
}

.watch embed {
    width: 200px;
    height: 200px;
}
