.weather-base {
  position: fixed;
  top: 230px;
  left: 100px;
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
    border-radius: 5px;
    padding: 9px;
}

.weather{
  padding: 5px 5px 5px 5px;
  background: #fff;
  border:1px inset #eee;
}

.forecast-weekly {}

.forecast-weekly li {
    list-style: none;
}
