.weather-base {
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: 273px auto 0 auto;
    border-radius: 5px;
}

.weather{
  padding: 5px 5px 5px 5px;
  background: #fff;
  border:1px inset #eee;
}

.forecast-weekly {}

.forecast-weekly li {
    list-style: none;
}
